# Python Basics: Numbers, Arithmetic, and Variable Assignment


## Numbers

Python has two main "types" of numbers. There are integers and floating point numbers. Integers are just whole numbers, while floating point numbers have decimals. 1, -1, 10, and 30 are all examples of integers. 1.1 and 1.2 are examples of floating points numbers

## Basic Arithmetic

In [12]:
#Addition
1 + 1.1

2.1

In [13]:
#Subtraction
10 - 1

9

In [15]:
#Multiplication

2 * 2

4

In [17]:
#Division
10/3

3.3333333333333335

In [22]:
#Exponential
3**3

27

# Variable Assignment

We can create variables by assigning labels to objects. This is done by using an equals sign. For example, we can 
create a variable called "x" and give a value of 5.

In [25]:
#assigning the variable x with a value of 5
x = 5

Let's see what happens if we input "x"

In [26]:
x

5

Not surprisingly we get the value we assigned to "x", which is 5.

We can perform basic arithmetic with variables too!

In [27]:
x + 10

15

In [28]:
b = 10

In [29]:
x + b

15

Variables can be reassigned to new values

In [30]:
x = 150

In [31]:
x

150

We can also use variable in its own reassignment. This may be hard to comprehend, but take a look at the example below

In [32]:
#What is our current value of x?
x

150

In [33]:
#Reassignment of x using x...
x = x + 30

In [34]:
#What is our new value of x?

In [35]:
x

180

Variables do not need to be one letter! However, variable names cannot start with a number or contain spaces. Instead of spaces, try using an underscore

In [36]:
my_variable = 400
my_variable

400

What have we learned? We learned the different types of numbers, how to do some basic arithmetic, and how to assign variables in python! Pretty much, we have learned how to use python as a calculator.

## Optional Questions

1.

2.

3.

4.

5.